.advantages {
  @include margin-from-section;
}

.advantages__wrapper {
  @include page-width;
}

.advantages__line {
  @include page-width;
  @include flex-row;
  margin-left: 40px;
  space-between: justify-content;
  margin-bottom: 110px;
}

.advantages__experience {
  padding: 20px 70px 33px 70px;
  display: block;
  background-color: $blue-color;
  color: $white-color;
  text-align: center;
  text-transform: uppercase;
  margin-right: 50px;
  
}

.advantages__experience-number {
  font-size: 144px;
  line-height: 153px;
  margin-bottom: 10px;
}

.advantages__experience-word-years {
  font-size: 43px;
  line-height: 35px;
  font-family: $roboto-light;
  margin-bottom: 15px;
}

.advantages__experience-word {
  font-size: 20px;
  line-height: 35px;
  font-family: $roboto-light;
  background-color: $dark-blue-color;
}

.advantages__header {
  font-size: 42px;
  line-height: 55px;
  font-family: $roboto-light;
  font-weight: 300;
  margin-right: 55px;
  max-width: 50%;
  text-transform: uppercase;
  padding-top: 30px;
  
  span {
    margin-left: 45px;
    
    &:nth-child(2) {
      margin-left: 50px;
    }
    
    &:nth-child(3) {
      margin-left: 100px;
    }
    
    &:nth-child(4) {
      margin-left: 150px;
    }
  }
}

.advantages__text {
  font-family: roboto-thin;
  padding-top: 30px;
  width: 40%;
  font-size: 16px;
  line-height: 25px;
}

.advantages__header-blue {
  color: $blue-color;
}

.advantages__list {
  @include cancel-list;
  @include flex-row;
  padding-left: 4%;
}

.advantages__item {
  margin-right: 120px;
  position: relative;
  z-index: 20;
  
  &:after {
    content: "";
    position: absolute;
    background-color: $light-main-grey-color;
    width: 110px;
    height: 110px;
    z-index: -1;
    top: -10px;
    left: -55px;
  }
}

.advantages__item-number {
  font-size: 65px;
  line-height: 76px;
  color: $blue-color;
  font-family: $roboto-bold;
}

.advantages__item-text {
  font-size: 18px;
  line-height: 21px;
  text-transform: lowercase;
  padding-left: 30px;
  font-family: $roboto-light;
}