.photos {
  @include margin-from-section;
}

.photos__list {
  @include flex-row;
  @include cancel-list;
  max-width: 1500px;
  margin: auto;
  flex-wrap: wrap;
}

.photos__item {
  margin-bottom: 18px;
  position: relative;
  overflow: hidden;
  height: auto;
  box-sizing: border-box;

  .photos__item-link {
    display: none;
  }

  &:hover {
    .photos__item-image {
      transform: $picture-transform;
      transition: $picture-transition;
    }

    .photos__item-link {
      display: block;
    }

    a {
      @include dark-element;
      height: 100%;
      width: 100%;
      display: block;

      &::before {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.photos__item-link {
  @include text-in-photo;
  bottom: 60px;
  z-index: 5;
  color: $white-color;
  font-size: 30px;
  line-height: 35px;
  text-decoration: none;
  padding-left: 30px;

  &:hover {
    text-decoration: underline;
  }
}

.photos__item-link-span {
  font-weight: 300;
}

.photos__item-link-header {
  font-weight: 600;
  position: relative;
  display: block;
}
