.services {
  @include margin-from-section;
}

.services__wrapper {
  @include page-width;
}

.services__header {
  @include section-header;
}

.services__text {
  @include section-text;
  margin-bottom: 30px;
  width: 90%;
}

.services__list {
  @include cancel-list;
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.services__item {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  width: 49%;

  a {
    @include dark-element;
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .services__item-image {
    width: 100%;
    display: block;
    overflow: hidden;
    transition: $picture-transition;
  }

  &:hover {
    .services__item-image {
      transform: $picture-transform;
    }
  }

  &:nth-child(2n-1) {
    margin-top: -14%;
  }

  &--button {
    @include flex-row;
    margin-left: -8%;
    width: 57%;

    a {
      @include blue-button;
      @include flex-row;
      justify-content: space-between;
      padding: 55px 55px 55px 140px;
      width: 100%;

      &:hover {
        svg {
          transition: $picture-transition;
          transform: translate3d(-40px, 0, -40px);
        }
      }
    }
  }

  &:first-child,
  &:last-child a {
    &::before {
      display: none;
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-top: -150px;
  }
}

.services__item-image {
  width: 100%;
}

.services__item-text {
  @include text-in-photo;
  z-index: 20;
  color: $white-color;
  width: 51%;
  padding-left: 25px;
}

.services__item-header {
  @include item-header;
  margin-bottom: 10px;
}

.services__item-text-item {
  @include item-text;
}
