.your-project {
  @include margin-from-section;
}

.your-project__wrapper {
  @include page-width;
}

.your-project__header {
  @include section-header;
}

.your-project__text {
  @include section-text;
  margin-bottom: 50px;
}

.your-project__form {
  @include flex-row;
  align-items: flex-start;
}

.your-project__form-left {
  @include flex-row;
  width: 55%;
  flex-wrap: wrap;
}

.your-project__form-price {
  width: 320px;
  border: 5px solid $blue-color;
  padding: 17px 40px 25px 55px;
  margin-top: -55px;
}

.your-project__form-group {
  border: none;
  margin-bottom: 40px;

  &--size {
    width: 50%;

    .your-project__form-group-list {
      padding-left: 0;
    }
  }
}

.your-project__form-group-legend {
  @include form-text;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.your-project__form-group-list {
  @include cancel-list;
  @include flex-row;
  padding-left: 20px;
  flex-wrap: wrap;
}

.your-project__form-group-item {
  margin-right: 35px;
  position: relative;

  &--size {
    @include flex-row;
    margin-bottom: 45px;
  }
}

.your-project__form-group-item-label {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  margin-bottom: 35px;
  text-transform: uppercase;

  span {
    text-transform: lowercase;
  }

  &--radio {
    &::before {
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: -18px;
      border: 1px solid $grey-color-form;
    }
  }

  &--size {
    width: 55%;
    display: block;
    margin-bottom: 0;
    text-align: right;
    margin-right: 5px;
  }
}

.your-project__form-group-item-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -18px;
  width: 7px;
  height: 7px;
  background-color: $blue-color;
  border-radius: 50%;
  border: 1px solid $blue-color;
}

.your-project__form-group-item-input {
  border: none;
  border-bottom: 1px solid $grey-color-form;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &--size {
    display: block;
    width: 70%;
  }
}

.your-project__form-image-wrapper {
  min-width: 41%;
  padding-top: 35px;
}

.your-project__form-price-header {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 10px;

  span {
    color: $blue-color;
    text-transform: capitalize;
  }
}

.your-project__form-price-text {
  @include form-group-text;
  margin-bottom: 15px;
}

.your-project__form-price-list {
  @include cancel-list;
}

.your-project__form-price-item {
  width: 100%;
  margin-bottom: 25px;

  input {
    @include form-text;
    width: 100%;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid $grey-color-form;

    &:hover,
    &:focus,
    &:active {
      border: none;
      border-bottom: 1px solid $grey-color-form;
      outline: none;
    }
  }
}

.your-project__form-group-price-agree {
  @include form-text;
  margin-bottom: 30px;

  a {
    font-weight: 600;
    color: $black-color;
  }
}

.your-project__form-button {
  @include blue-button-in-form;
  padding: 15px 20px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
