$roboto: "Roboto", "Arial", sans-serif;
$roboto-bold: "Roboto-bold", "Arial", sans-serif;
$roboto-light: "Roboto-light", "Arial", sans-serif;
$roboto-thin: "Roboto-thin", "Arial", sans-serif;
$karla-bold: "Karla-Bold", "Arial", sans-serif;
$worksans-Bold: "WorkSans-Bold", "Arial", sans-serif;
$worksans-regular: "WorkSans-Regular", "Arial", sans-serif;
$white-color: #ffffff;
$black-color: #000000;
$light-grey-color: #f5f5f5;
$light-main-grey-color: #f0f0f0;
$grey-color-form: #c4c4c4;
$blue-color: #009EE3;
$dark-blue-color: #0090CF;
$dark-grey-color: #606060;